<!DOCTYPE html>
<html lang="en">
<style>
    .content {
        text-align:center;
            }
</style>
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
</head>
<body class = 'content'>
<h1>Lion Auction</h1>
<p>Please select the option for logging in or registration</p>
<form action = "http://127.0.0.1:5000/portal" method = "post">
  <label for="option">Choose an option:</label>
  <select name="option" id="option">
    <option value="Login">Login</option>
    <option value="Register">Register</option>
  </select>
  <br><br>
  <input type="submit" value="Go">
</form>
  <br><br>
<!img src="https://i.imgur.com/XhBa9zq.png" height="500" width="1500">
</body>
</html>