<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
<head>
    <meta charset="UTF-8">
    <title>Portal</title>
</head>

<body class = 'container-sm'>
<h1>Lion Auction</h1>
<p>Please select the option for logging in or registration</p>
<form action = "http://127.0.0.1:5000/portal" method = "post">
  <label for="option">Choose an option:</label>
  <select name="option" id="option">
    <option value="Login">Login</option>
    <option value="Register">Register</option>
  </select>
  <br><br>
  <input type="submit" class="btn btn-primary" value="Go">
</form>
  <br><br>
<!img src="https://i.imgur.com/XhBa9zq.png" height="500" width="1500">
</body>
</html>